/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI',Roboto, helvetica, Geneva, Geneva, Tahoma, sans-serif, sans-serif, Helvetica, sans-serif;
}

/* NAVBAR */

.nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.log span{
    color: #1b5e20;
}

.nav-container{
    display: flex;
   align-items: center;
    gap: 40px;
}

.nav-link{
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-link a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-auth{
    display: flex;
    gap: 15px;
}